body{
  padding-top:30px;
  word-wrap:break-word;
  background-color: lightskyblue;
  text-align: center;
}

ul {
  width: 100%;
  display:inline-block;
  clear: both;
}

li{
  width: 50%;
  height: 124px;
  border: 2px solid navy;
  list-style: none;
  float: left;
  padding: 15px;
  font-size: 18px;
}

span{
  color: navy;
}
img{
  width: 105px;
}

h1, h2, h3{
  color: navy;
}

button{
  clear: both;
  color: aliceblue;
  background-color: navy;
  display:inline-block;
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

button:hover{
  background-color: skyblue;
}